.favorite-wrapper {
  padding: 50px;
  height: 100vh;
  width: 80%;
  margin: auto;
}
.favorite-list {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  height: 90%;
}

.favorite-list::-webkit-scrollbar {
  -webkit-appearance: none;
  height: none;
}

.favorite-list .movieCard {
  height: 50%;
  margin-top: 20px;
}
