.favorite-wrapper {
  padding-top: 50px;
  width: 85%;
  margin: auto;
  overflow-y: scroll;
}
.favorite-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.favorite-wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  height: none;
}

.favorite-wrapper .movieCard {
  height: 450px;
  width: 150;
}
