.header {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  color: red;
  width: 100vw;
  height: 50px;
  position: fixed;
  z-index: 100;
}

.header p a {
  text-decoration: none;
}

input:focus {
  outline: none;
}
