.searchScreen {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.search-header {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin: 25px auto 15px auto;
}

.search-header .searchBar {
  min-width: 80%;
}

.search-header input {
  min-width: 100%;
  font-size: 30px;
}
.search-header .searchBar button {
  display: none;
}

.search-card-wrapper .overlay {
  display: none;
}

.search-card-wrapper:hover .movie-discription {
  display: block;
}

.search-card-wrapper:hover .overlay {
  display: block;
}

.movie-discription {
  display: none;
  gap: 5px;
  font: 1em sans-serif;
}

.search-card-wrapper {
  margin: 15px auto 15px auto;
  padding: 15px;
  text-overflow: clip;
  width: 15%;
  transition: transform 0.2s;
}

.search-card-wrapper :hover {
  transform: scale(1.05);
}
.discrition-text {
  height: 100px;
  overflow: hidden;
}

.search-card-wrapper .overlay {
  position: absolute;
  top: 50%; /* Position Y halfway in */
  left: 50%; /* Position X halfway in */
  transform: translate(-50%, -50%); /* Move it halfway back(x,y) */
  font-size: 40px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.movie-detail img {
  max-width: 100%;
}
