.movieCard {
  padding: 5px;
  margin: 5px 5px 5px 0px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: transform 0.2s;
  min-width: 15%;
}

.movieCard:hover {
  transform: scale(1.1);
}

.movieCard img {
  height: 300px;
  width: 100%;
}
